.aboutMe {
    background-color: $mediumGray;
    height: 100vh;
    padding: 30px 0px;

    img {
        border-radius: 30%;
    }
}

.aboutFlex {
    display: flex;
}

.aboutFlexInner {
    display: flex;
    flex-direction: column;
}