// colors
$darkGray: #2e2e35;
$darkerGrayNavy: #34343b;
$mediumGray: #959595;
$lightGray: #b8b7b7;
$offWhite: #dadada;
$butterscotch: #e4aa48;

html {
  scroll-behavior: smooth;
  transition: 1 ease;
}

body {
  max-width: 1920px;
  background-color: $darkGray;
  color: $offWhite;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 60px;
}

h2 {
    font-size: 3.5rem;
    line-height: 45px;
    color: $offWhite;
}

ul {
  list-style-type: none;
}

a {
  transition: all 0.3s ease-out 0s;
  color: $lightGray;
  font-size: 2.2rem;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}