.headerArea {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;

    img {
        width: 55%;
    }
}

.navToggle {
    display: none;
}

.navigationList {
    display: flex;
    
    li {
        margin: 0px 15px;
    }

    a:hover {
        color: $butterscotch;
    }
}


@media screen and (max-width: 800px) {
    .navToggle {
        align-items: right;
        // display: initial;
        // position: absolute;
        cursor: pointer;
    }
    
    .navigationList {
        flex-direction: column;

    }

    .navigationListItem {
        display: none;
    }

    .navigationListToggleShow {
        display: flex;
    }
}

@media screen and (max-width: 830px) {
    .navigationList {
        a {
            font-size: 1.8rem;
        }
    }
}