.projectContainer {
    display: flex;
    border-radius: 25px;
    margin: 50px 0px;

    img {
        border-radius: 25px 0px 0px 25px;
        width: 50%;
        object-fit: cover;
    }

    .buttonAnimation {
        margin: 10px 20px 10px 0px;
    }
}

.projectInfo {
    width: 50%;
    padding: 50px 50px;
    background-color: $mediumGray;
    border-radius: 0px 25px 25px 0px;
}

.skillsUsed {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    p {
        margin: 10px 15px 10px 0px;
        background-color: $butterscotch;
        color: $darkGray;
        padding: 10px 10px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 1100px) {
    .projectContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 80%;
            border-radius: 25px 25px 0px 0px;
        }
    }

    .projectInfo {
        margin-top: 0px;
        width: 80%;
        border-radius: 0px 0px 25px 25px;
    }
}

@media screen and (max-width: 880px) {
    .projectInfo {
        padding-top: 10px;

        h3 {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 650px) {
    .projectContainer {
        img {
            width: 90%;
        }
    }
    
    .projectInfo {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .projectContainer {
        img {
            width: 100%;
        }
    }
    
    .projectInfo {
        width: 100%;
        
        h3 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.6rem;
        }

        a {
            font-size: 2rem;
        }
    }

    .skillsUsed {
        p {
            padding: 5px 5px;
            font-size: 1.6rem;
        }
    }
}

@media screen and (max-width: 450px) {
    .projectInfo {
        padding: 25px 25px;
    }
}

@media screen and (max-width: 380px) {
    .projectInfo {
        padding: 15px 15px;

        h3 {
            font-size: 2.2rem;
        }
    }

    .skillsUsed {
        margin-bottom: 10px;
    }

    
}

