.skillList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    align-items: stretch;
}

// Styling for devicons

.devicon-html5-plain-wordmark,
.devicon-css3-plain-wordmark,
.devicon-javascript-plain,
.devicon-react-original-wordmark,
.devicon-github-original-wordmark,
.devicon-git-plain,
.devicon-sass-original,
.devicon-firebase-plain-wordmark
 {
    font-size: 6rem;
}