/* Juno's edit/remix of normalize.css */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  -webkit-transition: 1 ease;
  transition: 1 ease;
}

body {
  max-width: 1920px;
  background-color: #2e2e35;
  color: #dadada;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 60px;
}

h2 {
  text-align: center;
  font-size: 3.5rem;
  line-height: 45px;
  color: #e4aa48;
  padding: 40px 0px 10px 0px;
}

h3 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .12em;
  color: #e4aa48;
}

ul {
  list-style-type: none;
}

a {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #b8b7b7;
  font-size: 2.2rem;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

.buttonAnimation {
  position: relative;
}

.buttonAnimation:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e4aa48;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.buttonAnimation:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (max-width: 430px) {
  h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 330px) {
  h2 {
    font-size: 2.8rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

p {
  font-size: 1.8rem;
  line-height: 26px;
  font-family: "Nunito Sans", sans-serif;
}

.headerArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 40px;
}

.navToggle {
  display: none;
}

.navigationList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigationList li {
  margin: 0px 15px;
}

.navigationList a:hover {
  color: #e4aa48;
}

@media screen and (max-width: 800px) {
  .navToggle {
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    display: initial;
    cursor: pointer;
  }
  .navigationList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigationListItem {
    display: none;
  }
  .navigationListToggleShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.home {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

.fa-arrow-down {
  color: #e4aa48;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 4rem;
  }
}

.aboutMe {
  background-color: #36363E;
  padding: 30px 0px;
}

.aboutMe img {
  width: 40%;
  height: auto;
  border-radius: 35px;
  -webkit-box-shadow: 20px 20px #b8b7b7;
          box-shadow: 20px 20px #b8b7b7;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.aboutMe img:hover {
  -webkit-box-shadow: 20px 20px #e4aa48;
          box-shadow: 20px 20px #e4aa48;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.aboutFlexInner {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 35px;
  padding: 20px 100px;
}

.resumeButtonContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.resumeButtonContainer a {
  background-color: #b8b7b7;
  color: #2e2e35;
  padding: 20px 35px;
  border-radius: 35px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.resumeButtonContainer a:hover,
.resumeButtonContainer a:focus {
  background-color: #e4aa48;
}

@media screen and (max-width: 1100px) {
  .aboutFlexInner {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 750px) {
  .aboutMe img {
    width: 50%;
  }
  .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlexInner {
    width: 80%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .resumeButtonContainer a {
    padding: 10px 25px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 460px) {
  .aboutMe img {
    width: 70%;
  }
  .aboutFlexInner {
    width: 100%;
  }
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  margin: 50px 0px;
}

.projectContainer img {
  border-radius: 25px 0px 0px 25px;
  width: 50%;
}

.projectContainer .buttonAnimation {
  margin: 10px 20px 10px 0px;
}

.projectInfo {
  width: 50%;
  padding: 50px 50px;
  background-color: #36363E;
  border-radius: 0px 25px 25px 0px;
}

.skillsUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.skillsUsed p {
  margin: 10px 15px 10px 0px;
  background-color: #e4aa48;
  color: #2e2e35;
  padding: 10px 10px;
  border-radius: 15px;
}

@media screen and (max-width: 1100px) {
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectContainer img {
    width: 80%;
    border-radius: 25px 25px 0px 0px;
  }
  .projectInfo {
    margin-top: 0px;
    width: 80%;
    border-radius: 0px 0px 25px 25px;
  }
}

@media screen and (max-width: 880px) {
  .projectInfo {
    padding-top: 10px;
  }
  .projectInfo h3 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 650px) {
  .projectContainer img {
    width: 90%;
  }
  .projectInfo {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .projectContainer img {
    width: 100%;
  }
  .projectInfo {
    width: 100%;
  }
  .projectInfo h3 {
    font-size: 2.5rem;
  }
  .projectInfo p {
    font-size: 1.6rem;
  }
  .projectInfo a {
    font-size: 2rem;
  }
  .skillsUsed p {
    padding: 5px 5px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 450px) {
  .projectInfo {
    padding: 25px 25px;
  }
}

@media screen and (max-width: 380px) {
  .projectInfo {
    padding: 15px 15px;
  }
  .projectInfo h3 {
    font-size: 2.2rem;
  }
  .skillsUsed {
    margin-bottom: 10px;
  }
}

.skills {
  background-color: #36363E;
}

.skillsContainer {
  padding: 20px 0px 50px 0px;
}

.skillList {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.devicon-html5-plain-wordmark,
.devicon-css3-plain-wordmark,
.devicon-javascript-plain,
.devicon-react-original-wordmark,
.devicon-github-original-wordmark,
.devicon-git-plain,
.devicon-sass-original,
.devicon-firebase-plain-wordmark {
  font-size: 6rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition: 0.5s cubic-bezier(0.47, 0.73, 0.53, 1.46);
  transition: 0.5s cubic-bezier(0.47, 0.73, 0.53, 1.46);
}

.devicon-html5-plain-wordmark:hover,
.devicon-css3-plain-wordmark:hover,
.devicon-javascript-plain:hover,
.devicon-react-original-wordmark:hover,
.devicon-github-original-wordmark:hover,
.devicon-git-plain:hover,
.devicon-sass-original:hover,
.devicon-firebase-plain-wordmark:hover {
  color: #e4aa48;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 650px) {
  .skillList {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .skillList {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

.contactFlexContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0px;
}

.contactInner:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.contactInner:not(:first-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.contactMessage {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.emailContainer {
  margin: 20px 0px;
  text-align: center;
}

.emailContainer a {
  color: #e4aa48;
}

.contactInner {
  background-color: #36363E;
  padding: 30px 30px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactInner a {
  color: #e4aa48;
  position: relative;
}

.far,
.fab {
  font-size: 2.2rem;
  color: #dadada;
  margin-right: 10px;
}

.backToTop {
  -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
  margin: 8% 0;
  text-align: center;
}

.fa-angle-double-up {
  color: #e4aa48;
}

@-webkit-keyframes backToTop {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  60% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes backToTop {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  60% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@media screen and (max-width: 650px) {
  .contactMessage {
    width: 80%;
  }
  .contactInner {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 430px) {
  .emailContainer a {
    font-size: 2rem;
  }
  .contactInner {
    padding: 20px 20px;
  }
  .contactInner a {
    font-size: 2rem;
  }
  .far,
  .fab {
    font-size: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .contactMessage {
    width: 90%;
  }
  .emailContainer a {
    font-size: 1.8rem;
  }
  .contactInner a {
    font-size: 1.8rem;
  }
  .far,
  .fab {
    font-size: 1.8rem;
  }
}

.footer {
  background-color: #e4aa48;
  color: #2e2e35;
  text-align: center;
  padding: 1px 0px;
}
/*# sourceMappingURL=styles.css.map */